:root {
    --main-color: #023f7a;
    --second-color: #2977c4;
    --light-yellow: #ffea20;
    --dark-yellow: #ffb600;
    --white-color: #fff;
    --section-padding: 100px;
  }

  a{
    text-decoration: none;
  }

  .margin-top{
    margin: 5% 0;
  }
  .mean-toggle{
    color: var(--main-color);
  }

   .active ul li a{
    color: var(--white-color);
  }
  .first-course .speciall--heading::before{
    right: 10px;
    background-color: var(--light-yellow);
  }


.course-content1 img{
    width: 100%;
    border-radius: 30px;
    height: 323px;
    object-fit: cover;    
}

.course-content2{
    background: #023F7A;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
}

.course-content2 h2,
.course-content4 h2{
    color: var(--light-yellow);
}

.course-content2 p{
    color: var(--white-color);
    font-size: 18px;
    text-align: justify;
    padding: 0 10px;
}

.title1,.title2,.title3{
    position: relative;
    color: var(--main-color);
    padding: 0 30px;
    width: 70%;
    margin: auto;    
}

.related-coures{
    width: 70%;
    margin: auto; 
}

.title1{
    margin: 60px 0;
}

.title2 {
    top: -50px;
}

.title3 h4{
    color: var(--main-color);
}

.course-content4{
    background: #023F7A;
    padding: 30px;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
}

.course-content4 ul{
    list-style: none;
    text-align: right;
    margin-right: 30px;
    padding: 0;
}

.course-content4 ul li{
    color: var(--white-color);
    padding: 5px 0;
    font-size: 28px;
}

.course-content4 ul i{
    color: var(--light-yellow);
    font-size: 30px;
    margin-left: 5px;
}

.course-content4 button{
    font-size: 26px;
    padding: 0 26px;
    background-color: var(--light-yellow);
    color: var(--main-color);
    border-radius: 30px;
}

.first-course .about-course{
    margin-top: 5%;
    position: relative;
}

.first-course .about-course p,
.first-course .about-course ul{
    background: #f7f7f7;
    padding: 15px;
    /* width: 65%; */
    border-radius: 30px;
    font-size: 20px;  
    line-height: 2;
}

.about-course h2{
    color: var(--main-color);
}

.first-course .about-course .speciall--heading::before {
    height: 20%;
    
}

.first-course .title3 .speciall--heading::before {
    height: 10%;
    right: 0%;
}

.first-course .about-course ul{
    list-style: none;
    
}


@media only screen and (max-width: 767px) {
    .title1,.title2,.title3,.related-coures,.level-of-pro,.progress__box{
        width: 100%;
    }

    .title1 {
        margin: 30px 0;
    }    

    .course-content1, .course-content2{
        height: 100%;
    }

    .course-content4,
    .first-course .about-course p,
    .first-course .about-course ul{
        width: 100%;
    }

    .course-content1{
        height: 100%;
        margin-bottom: 10%;
        overflow: hidden;
    }

    .course-content4{
        margin: 10% 0;
    }
    
    .first-course .about-course {
        margin-top: 8%;
    }    

    .first-course .about-course p, .first-course .about-course ul{
        font-size: 16px;
    }

    .speciall--heading-comments::before{
        height: 8%;
    } 
    
    .course .course--heading .span1::after{
        right: 27%;
    }
}

.comments{
    background: #f7f7f7;
    border-radius: 30px;
    font-size: 18px;   
}

.comments >div{
    display: inline-block;
    margin-top: 10px;
}
.comments img{
    width: 70px;
    margin-bottom: 25px;
}

.comments .comment{
    color: #aa9e9e;
}

.star-rating{
    float: left;
    margin-top: 30px;
}

.comments .info{
    line-height: 10px;
    margin-right: 20px;
}
.all-comments li:not(:last-child){
    border-bottom: 1px solid var(--second-color);
    
}

.all-comments li{
    padding-top: 10px;
}


.height-100{
    height:100vh;
}

/* .card{
    width:380px;
    border:none;
    height:280px;
} */

.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:24px;
}

.rating-color{
    color: var(--main-color) !important;
}

.related-coures{
    padding: 20px;
}

.related-coures img{
    /* width: 50%; */
    height: 230px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.related-coures .card-body{
    background-color: var(--main-color);
    color: var(--white-color);
    /* width: 50%; */
    text-align: center;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 20px;
}

.courese-content3 .btn{
    display: block;
    width: 100%;
    text-align: right; 
    font-size: 18px;
    color: var(--main-color);
    
}

.courese-content3 .btn i{
    font-size: 25px;
}

.courese-content3 .btn:focus{
    box-shadow: none;
}

.courese-content3 ul{
    list-style: none;
    color: var(--main-color);
    padding-left: 0;
}

.courese-content3 ul li{
    padding: 3px;
    background: #ececec;
    border-radius: 30px;
    margin-bottom: 10px;
}

.courese-content3 ul li i{
    font-size: 35px;
}

.courese-content3 .card-body ul{
    list-style: none;
    padding: 0 20px;
}

.pagination li a{
    color: var(--main-color);
}

.pagination li a:focus{
    box-shadow: none;
}















@media only screen and (max-width: 767px) {
    .comments{
        text-align: center;
    }
    .comments > div{
        /* margin-right: 25%;
        float: revert; */
        /* margin-bottom: 0px; */
        display: contents;
       
    }
    .all-comments img{
        margin-bottom: 0;
    }

    .comments .comment{
        /* display: block; */
    }


}





