
/*start  variable*/
:root {
  --main-color: #023f7a;
  --second-color: #2977c4;
  --light-yellow: #ffea20;
  --dark-yellow: #ffb600;
  --section-padding: 100px;
}

.second-head{
  display: none;
}

.course{
  margin: 90px 30px;
}


.courese-content3 .first-ul{
  margin-top: 53px;
}

.media h3{
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-color);
}

.media img{
  width: 100%;
}

.course .course--heading{
  font-size: 24px;
  color: var(--main-color);
  padding-right: 15%;
  position: relative;
}

.course .course--heading .span1{
  font-weight: bold;
}

.course .course--heading .span1::before{
  position: absolute;
  content: "";
  right: 13%;
  background-color: var(--light-yellow);
  height: 100%;
  width: 4px;
  top: 0;  
}

.course .course--heading .span1::after {
  content: "";
  position: absolute;
  border-color: transparent var(--light-yellow) transparent transparent;
  border-width: 20px;
  border-style: solid;
  right: 23%;
  top: 50%;
  transform: translateY(-50%);
}

.course .course--heading .span2{
  padding-right: 4%;
}

.level-of-pro{
  position: relative;
  width: 70%;
  margin: auto;
  padding: 80px 30px;
}

.level-of-pro h2{
  color: var(--main-color);
  font-weight: bold;
}

.speciall--heading-pro::before {
  position: absolute;
  content: "";
  top: 28%;
  right: 1%;
  background-color: var(--light-yellow);
  border-radius: 30px;
  width: 4px;
  height: 17%;
}

.speciall--heading-comments::before{
  position: absolute;
  content: "";
  top: 0;
  right: 1%;
  background-color: var(--light-yellow);
  border-radius: 30px;
  width: 4px;
  height: 10%;
}


.progress h2,
.comments h2,
.heading {
  padding-right: 150px;
  position: relative;
  font-size: 40px;
  color: var(--main-color);
}
.progress h2::before,
.comments h2::before,
.heading::before {
  position: absolute;
  content: "";
  right: 123px;
  top: 0;
  background-color: var(--light-yellow);
  width: 4px;
  height: 100%;
}
.progress__box {
  border: 2px solid var(--second-color);

  margin-top: 40px;
  height: 50px;
  width: 70%;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
}
.progress__box span {
  background-color: var(--main-color);
  width: 25%;
  height: 100%;
  display: block;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}
.comments__boxs {
  border: 1px solid #f0eded;
  padding:15px;
}

.comment--box {
  border-bottom: 2px solid var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.comment--box i {
  color: var(--main-color);
}
.comment--box:last-of-type {
  border-bottom: 0;
}
.comment__contents {
  display: flex;
  width: 70%;
  align-items: center;
}
.comment__contents p {
  color: var(--main-color);
  font-weight: bold;
  margin-right: 20px;
}
.comment__contents p:last-of-type {
  color: #777;
  font-size: 25px;
  font-weight: normal;
}
.comment__contents img {
  max-width: 100%;
  width: 60px;
}
#none {
  color: #fff;
}

.all-comments{
  background: #f7f7f7;
  border-radius: 30px;
  font-size: 18px;  
  list-style: none;
  padding: 15px;
}

.course .title3 h2{
  font-weight: bold;
}

.course .title3 .speciall--heading::before{
  height: 10%;
  color: var(--light-yellow) !important;
}


@media only screen and (max-width: 768px) {
  .second-head{
      display: block;
  }
  .first-head{
      display: none;
  }
}
